
@{
    List<AfpaLunch.Models.Panier> baskets = (List<AfpaLunch.Models.Panier>)Session["Panier"];
    List<AfpaLunch.Models.ProduitPanier> panier = (List<AfpaLunch.Models.ProduitPanier>)HttpContext.Current.Application[Session.SessionID];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AfpaLunch</title>
    <style>
        #produitModal:hover, #typesnom:hover, #restonom:hover, .choix:hover, .jaime:hover, .virer:hover {
            cursor: pointer;
        }

        .owl-prev, .owl-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: block !important;
            border: 0px solid black;
        }

            .owl-prev:hover, .owl-next:hover {
                background-color: none
            }

        .owl-prev {
            left: -50px;
        }

        .owl-next {
            right: -5px;
        }

            .owl-prev i, .owl-next i { /*color: #ccc;*/
            }

        #frgrd {
            position: relative;
            z-index: 1;
            height: 400px;
        }

            #frgrd p {
                text-align: center;
                vertical-align: middle;
            }

        #bckgrd {
            background-image: url(../Images/cover.jpg);
            /*overflow:hidden;*/
            margin: 0;
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: .4;
            width: 100%;
            height: 100%;
        }
    </style>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar  navbar-expand-sm fixed-top" style="background-color:#fdf18d">
        <a class="navbar-brand" href="/Restaurants/">
            <img src="~/Images/logo.png" height="30" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-3" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-list-3">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="@Url.Action("Index", "Home")" class="nav-link" style="color: black;">Accueil</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Restaurants")" class="nav-link" style="color: black; ">Restaurants</a>
                </li>
            </ul>
            <div class="ml-auto mr-2" id="produitModal">
                <i class="" style="" data-toggle="modal" data-target="#ModalPanier">
                    <span id="nompanier">Panier</span>
                    <span id="chiffrepanier" class="badge badge-light"></span>
                </i>
            </div>

            @{ if (Session["Utilisateur"] != null)
                {
                    Utilisateur utilisateur = new Utilisateur();
                    utilisateur = (Utilisateur)Session["Utilisateur"];
                    <div class="nav-item">
                        <span>Solde : @utilisateur.Solde€</span>
                    </div>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-2x fa-user-circle-o" style="color: black"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a href="@Url.Action("Details", "Utilisateurs", new { id = utilisateur.IdUtilisateur })" class="dropdown-item" style="color: black; ">Mon compte</a>
                            <a href="@Url.Action("Historique", "Utilisateurs", new { id = utilisateur.IdUtilisateur })" class="dropdown-item" style="color: black; ">Historique</a>
                            <a href="@Url.Action("Favoris", "Utilisateurs", new { id = utilisateur.IdUtilisateur })" class="dropdown-item" style="color: black; ">Favoris</a>
                            <a href="@Url.Action("Deconnexion", "Utilisateurs")" class="dropdown-item" style="color: red; ">Déconnexion</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="">
                        <a href="@Url.Action("Connexion", "Utilisateurs")" class="nav-link" style="color: black; ">Connexion</a>
                    </div>
                }
            }
        </div>
    </nav>

    <div class="modal fade" id="ModalPanier" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        @using (@Html.BeginForm("SaveCommande", "Sw"))
        {
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Panier</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                        @{ if (panier != null)
                            {
                                <div class="row">
                                    @{ foreach (AfpaLunch.Models.ProduitPanier item in panier)
                                        {
                                            try
                                            {
                                                <div class="row m-1 listepanier">
                                                    <div class='col-2'>
                                                        <img src="~/@item.Photo" class="img-thumbnail" style="min-width: 90px; min-height:70px" />
                                                    </div>
                                                    <div class='col-4'>
                                                        <div class='d-flex flex-column'>
                                                            <div class='row text-wrap h3'>
                                                                @item.Nom
                                                            </div>
                                                            <div class="row text-wrap">
                                                                @item.Description
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-2">@item.Prix€ <span class="badge badge-light" data-produit="@item.IdProduit">@item.Quantite</span></div>
                                                    <div class="col-2">
                                                        <span class="p-2 rounded moinsproduit" data-produit="@item.IdProduit" style="background-color:#fdf18d"><i class="fa fa-minus"></i></span>&nbsp;<span class="p-2 rounded leproduit" data-produit="@item.IdProduit" style="background-color:#fdf18d"><i class="fa fa-plus"></i></span>
                                                    </div>
                                                    <div class="col-2">
                                                        <span class="p-2 rounded removeproduit" data-produit="@item.IdProduit" style="background-color:#fdf18d"><i class="fa fa-trash"></i></span>
                                                    </div>
                                                </div>
                                            }
                                            catch (Exception ex)
                                            {
                                                string er = ex.Message;
                                            }
                                        }
                                    }
                                </div>
                            }
                            else
                            {
                                <p class="alert alert-info">Votre panier est vide !</p>
                            }
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Fermer</button>
                        <input type="button" id="commander" class="btn btn-outline-success" value="Commander" />
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">&copy; @DateTime.Now.Year - AfpaLunch</span>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/owl.carousel")
    @Scripts.Render("~/bundles/dropzone")
    @RenderSection("scripts", required: false)

    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $("#produitModal").click(function () {
                    GetProduitsSw();
                });

                $("#commander").click(function () {
                    SaveCommandeSw();
                });

                function GetProduitsSw() {
                    var data = { 'idsession': '@Session.SessionID' };
                    $.ajax({
                        url: '@Url.Action("GetProduits", "Sw")',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (data) {
                        },
                        error: function () {
                            alert("Erreur");
                        }
                    })
                };

               function SaveCommandeSw() {
                        var data = { 'idsession': '@Session.SessionID' };
                        $.ajax({
                            url: '@Url.Action("SaveCommande", "Sw")',
                            type: 'POST',
                            data: JSON.stringify(data),
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            success: function (data) {
                                alert("Commande validée !");
                                document.location.href = '/restaurants/index';
                            },
                            error: function () {
                            alert("Erreur");
                            }
                        })
                };

                $('.plusproduit').click(function () {
                    var data = { 'idproduit': $(this).data("produit"), 'idsession': '@Session.SessionID' };
                    $.ajax({
                        url: '@Url.Action("AddProduit", "Sw")',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (data) {

                        },
                        error: function () {
                            alert("Erreur");
                        }
                    })
                });

                $('.moinsproduit').click(function () {
                    var data = { 'idproduit': $(this).data("produit"), 'idsession': '@Session.SessionID' };
                    $.ajax({
                        url: '@Url.Action("RemoveProduit", "Sw")',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (data) {

                        },
                        error: function () {
                            alert("Erreur");
                        }
                    })
                });
            });
        </script>
    }

</body>
</html>
