@model IEnumerable<AfpaLunch.Commande>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EtatCommande.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilisateur.Nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EtatCommande.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurant.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilisateur.Nom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCommande }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCommande }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCommande })
        </td>
    </tr>
}

</table>
