@model AfpaLunch.Commande

@{
    ViewBag.Title = "Historique";
    List<Commande> commandes = (List<Commande>)ViewBag.Histoire;

}
<div class="d-flex justify-content-center mb-4"><p class="h3">Historique des commandes</p></div>

<div class="d-flex justify-content-center">
    <div class="card border-0" style="width: 30rem;">
        @foreach (Commande item in commandes)
        {
            <div class="row mb-2 p-2">
                <div class="col-2"><span style="background-color:#fdf18d;"><i class="fa fa-2x fa-cutlery"></i></span></div>
                <div class="col">
                    <div><p class="text-dark font-weight-light h4">@item.Restaurant.Nom</p></div>
                    <div class="text-secondary">@item.Date.ToString("ddd d MMM")</div>
                </div>
                <div class="ml-auto"><p>@item.Prix€</p><span class="lacommande" data-commande="@item.IdCommande" id="@item.IdCommande"><i class="fa fa-plus"></i></span></div>
            </div>
            <hr />
        }
    </div>
</div>

@foreach (Commande item in commandes)
{
    <div id="@item.IdCommande@item.IdCommande" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <div class="modal-title font-weight-light">
                        <div class="d-flex justify-content-center">
                            <div>
                                <p class="h5 mb-0">@item.Restaurant.Nom
                                </p>
                                <small>Commande #@item.IdCommande</small>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="px-2 mb-1">
                        <div class="row">
                            <div><p class="text-secondary mb-0">Date</p></div><div class="ml-auto"><p class="text-secondary mb-0">Prix</p></div>
                        </div>
                        <div class="row">
                            <div> <p class="font-weight-bolder">@item.Date.ToString("dddd d MMM")</p></div><div class="ml-auto"><p class=" font-weight-normal">@item.Prix.ToString()€</p> </div>
                        </div>
                    </div>
                    <div class="" style="width:100%; overflow:hidden; margin:0"><img src="~/@item.Restaurant.Photos.FirstOrDefault().Nom" class="w-100" style="margin:-20.875% 0;" /></div>
                    <div class="px-2">
                        <span><i class="fa fa-location-arrow"></i></span> <small>Adresse</small><p>@item.Restaurant.Adresse @item.Restaurant.CodePostal @item.Restaurant.Ville</p>
                        <span><i class="fa fa-phone"></i></span> <small>Numéro de téléphone</small><p> @item.Restaurant.Telephone</p>
                    </div>
                    <div class="collapse" id="collapseExample">
                        @foreach (var produits in item.CommandeProduits)
                        {
                            <div class="row p-2" id="@item.IdCommande">
                                <div class="col-3"><img src="~/@produits.Produit.Photos.FirstOrDefault().Nom" class="img-thumbnail" style="width:100px; height:80px" /></div>
                                <div class="col-5"><p>@produits.Produit.Nom</p></div>
                                <div class="col-2"><p>x&nbsp;<span class="badge badge-light">@produits.Quantite</span></p></div>
                                <div class="ml-auto col-2"><p>@produits.Produit.Prix€</p></div>
                            </div>
                        }
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Produits</button>
                    <button id="" type="button" class="btn btn-primary recommander">Commander</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            $('.lacommande').on('click', function () {
                const idcommande = $(this).data("commande");
                console.log("idcommande = " + idcommande);

                var find = idcommande + "" + idcommande;
                console.log("var find = " + find);

                $('#' + find).modal("show");
            });

            $('.recommander').on('click', function () {
                
                var data = { 'idcommande': idcommande, 'idsession': '@Session.SessionID' };
                $.ajax({
                    url: '@Url.Action("Recommander", "Sw")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        alert("Votre commande a bien été validée");
                    },
                    error: function () {
                        alert("Erreur");
                    }
                })
            });

        });
    </script>

}