@model AfpaLunch.Models.Panier

@{
    ViewBag.Title = "Panier";
    string isConnected = Session["Utilisateur"] != null ? "true" : "false";
    AfpaLunch.Models.Panier panier = (AfpaLunch.Models.Panier)HttpContext.Current.Application[Session.SessionID];

}

<h2>Mon panier :</h2>

@{ if (panier != null)
    {
        foreach (AfpaLunch.Models.ItemPanier item in panier)
        {
            if (item is AfpaLunch.Models.MenuPanier)
            {
                List<AfpaLunch.Models.ProduitPanier> produitPaniers = ((AfpaLunch.Models.MenuPanier)item).produits;
            }

            try
            {
                <div class="row m-1 listepanier">
                    <div class='col-2'>
                        <img src="~/@item.Photo" class="img-thumbnail" style="min-width: 90px; min-height:70px" />
                    </div>
                    <div class='col-4'>
                        <div class='d-flex flex-column'>
                            <div class='row text-wrap h3'>
                                @item.Nom
                            </div>
                            <div class="row text-wrap">
                                @item.Description
                            </div>
                        </div>
                    </div>
                    <div class="col-2">@item.Prix€ <span class="badge badge-light" data-produit="@item.GetIdProduit()">@item.Quantite</span></div>
                    <div class="col-2">
                        <span class="p-2 rounded moinsproduit" data-produit="@item.GetIdProduit()" style="background-color:#fdf18d"><i class="fa fa-minus"></i></span>&nbsp;<span class="p-2 rounded leproduit" data-produit="@item.GetIdProduit()" style="background-color:#fdf18d"><i class="fa fa-plus"></i></span>
                    </div>
                    <div class="col-2">
                        <span class="p-2 rounded removeproduit" data-produit="@item.GetIdProduit()" style="background-color:#fdf18d"><i class="fa fa-trash"></i></span>
                    </div>
                </div>
            }
            catch (Exception ex)
            {
                string er = ex.Message;
            }
        }

        <div>
            <button id="btnCommande" class="btn btn-success" style="margin-right: 30px">Commander</button>
        </div>
    }

    else
    {
        <p class="alert alert-info">Votre panier est vide !</p>
    }

}
@*<div class="row justify-content-end mx-5">
        <div class="">
            <span class="font-weight-bold">TOTAL :</span>
        </div>
        <div>
            @{ AfpaLunch.Models.Panier basket = (AfpaLunch.Models.Panier)HttpContext.Current.Application[Session.SessionID];
                <span class="badge badge-light"></span>
            }

        </div>

    </div>*@



<div class="modal" tabindex="-1" role="dialog" id="modalConnexion">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Identification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="matricule">Matricule</label>
                    <input type="text" class="form-control" id="matricule" placeholder="N° de Matricule">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" placeholder="*********">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary" id="btnConnexion">Valider</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnCommande').click(function () {
                if (@isConnected) {
                    SaveCommandeSw();
                }
                else {
                    $('#modalConnexion').modal("show");
                }
            });

            $("#btnConnexion").click(function () {
                LoginUtilisateurSw();
            })
        });

        function SaveCommandeSw() {
                var data = { 'idsession': '@Session.SessionID' };
                $.ajax({
                    url: '@Url.Action("SaveCommande", "Sw")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        document.location.href = '/utilisateurs/historique/' + data.idutilisateur;
                    },
                    error: function () {
                        alert("Erreur");
                    }
                })
        };
        function LoginUtilisateurSw() {
            var matricule = $("#matricule").val();
            var password = $("#password").val();
            if (matricule != "" && password != "") {
                var data = {
                    'idsession': '@Session.SessionID',
                    'matricule': matricule,
                    'password': password
                };
                $.ajax({
                    url: '@Url.Action("LoginUtilisateur", "Sw")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        if (data.error == 1) {
                            alert(data.message);
                        }
                        else {
                            $('#modalConnexion').modal("hide");
                        }
                    },
                    error: function () {
                        alert("Erreur");
                    }
                })
            }


        }
    </script>
}
