@model AfpaLunch.Restaurant

@{
    ViewBag.Title = "Details";
    SelectList bouffe = ViewBag.Bouffe;
}

<h2 class="font-italic">Vous êtes chez <b>@Html.DisplayFor(model => Model.Nom)</b></h2>
@Html.Hidden("IdRestaurant")
<div class="p-2 shadow shadow-lg rounded">
    <div style="width:100%; overflow:hidden; margin:0"><img src="~/@Html.DisplayFor(model => Model.Photos.FirstOrDefault().Nom)" class="w-100" style="margin:-20.875% 0;" /></div>

    <div class="py-3">
        <p class="font-weight-bold h3 mt-2 mb-0">@Html.DisplayFor(model => Model.Nom)</p>
        <p class="font-weight-light my-0">@Html.DisplayFor(model => Model.TypeCuisine.Nom)</p>
        <p class="font-italic my-0"><i class="fa fa-map-pin"></i> @Html.DisplayFor(model => Model.Adresse), @Html.DisplayFor(model => Model.CodePostal) @Html.DisplayFor(model => Model.Ville) </p>
        <p class="card-text my-0"><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i></p>
        <p class="card-text my0">@Html.DisplayFor(model => Model.Description)</p>
    </div>

    <div class="d-flex justify-content-center mt-3"><p class="h4 font-weight-light">Nos Produits&nbsp;<i class="fa fa-birthday-cake"></i></p></div>
    <hr />

    @{
        var ordre = from p in Model.Produits
                    orderby p.Categorie
                    select p;

        foreach (var item in Model.Produits)
        {
            <div class='row d-flex p-3'>
                <div class='col-2'>
                    <img src="~/@item.Photos.FirstOrDefault().Nom" class="" style="max-width: 100px" />
                </div>
                <div class='col-4'>
                    <div class='d-flex flex-column'>
                        <div class='row px-5 h4'>
                            @item.Nom
                        </div>
                        <div class='row px-5'>@item.Description</div>
                    </div>
                </div>
                <div class="col-1">
                    <p class="font-weight-light">@item.Prix€</p>
                </div>
                <div class='col-2 ml-auto'>
                    <div class="row">
                        <a href="" class="btn btn-info leproduit" data-produit="@item.IdProduit">Ajouter au panier</a>
                    </div>
                </div>
                <div class="col-2 added" style="display:none">
                    <div class="alert-link">Produit ajouté au panier !</div>
                </div>
            </div>

        }




        <div class="d-flex justify-content-center mt-3"><p class="h4 font-weight-light">Nos Menus&nbsp;<i class="fa fa-spoon"></i><i class="fa fa-glass"></i></p></div>
        <hr />

        foreach (var item in Model.Menus)
        {
            <div class='row d-flex p-3'>
                <div class='col-4'>
                    <div class='d-flex flex-column'>
                        <div class='row px-5 h4'>
                            @item.Nom
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <p class="font-weight-light">@item.Prix€</p>
                </div>
                <div class='col-2 ml-auto'>
                    <div class="row">
                        <a href="" data-toggle="modal" data-target="#ModalMenu" class="btn btn-info">Composer son menu</a>
                    </div>
                </div>
                <div class="col-2 ajouted" style="display:none">
                    <div class="alert-link">Menu ajouté au panier !</div>
                </div>
            </div>




            @* ************Modal Menu************ *@

            <div class="modal" tabindex="-1" role="dialog" id="ModalMenu">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Composez votre menu :</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @Html.Label("Plat")
                            <div class="col-md-10">
                                @Html.DropDownList("Bouffe", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            @Html.Label("Boisson")
                            <div class="col-md-10">
                                @Html.DropDownList("Boisson", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            @Html.Label("Dessert")
                            <div class="col-md-10">
                                @Html.DropDownList("Dessert", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="button" class="btn btn-primary lemenu" data-menu="@item.IdMenu">Ajouter au panier</button>
                        </div>
                    </div>
                </div>
            </div>
        }

    }
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.lemenu').click(function () {



                var data = { 'idmenu': $(this).data("menu"), 'idsession': '@Session.SessionID' };
                $.ajax({
                    url: '@Url.Action("AddMenu", "Sw")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        $(".ajouted").css("display","block");
                    },
                    error: function () {
                        alert("Erreur");
                    }
                })
            });

            $('.leproduit').click(function () {
                var data = { 'idproduit': $(this).data("produit"), 'idsession': '@Session.SessionID' };
                $.ajax({
                    url: '@Url.Action("AddProduit", "Sw")',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        $(".added").css("display", "block");

                    },
                    error: function () {
                        alert("Erreur");
                    }
                })
            });
        });
    </script>
}

