@model IEnumerable<AfpaLunch.Restaurant>

@{
    ViewBag.Title = "Index";
    List<Restaurant> restaurants = (List<Restaurant>)ViewBag.Restaurants;
    List<Restaurant> typerestaurant = (List<Restaurant>)ViewBag.TypeRestaurant;
}

<h2>Nos Restaurants</h2>

@using (Html.BeginForm())
{

    <div class="input-group col-10 mb-3">
        @Html.TextBox("searchString", null, htmlAttributes: new { @class = "form-control", @id = "recherche", placeholder = "Pizzeria ou Sandwich" })
        <div class="input-group-append">
            <input class="btn btn-primary" type="submit" value="Rechercher" />
        </div>
    </div>

}

<div class="owl-carousel owl-theme">
    @foreach (var item in Model)
    {
        try
        {
            <div class="">
                <div class="card" style="width: 18rem;">
                    <img src="~/@item.Photos.FirstOrDefault().Nom" class="card-img-top" alt="Photo Restaurant" style="max-height: 190px">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nom)</h5>
                        <p class="card-text font-italic my-0">@Html.DisplayFor(modelItem => item.TypeCuisine.Nom) ( Prix moyen @Html.DisplayFor(modelItem => item.Budget)€)</p>
                        <p class="card-text"><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i></p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        <a href="@Url.Action("Details", "Restaurants", new { id = item.IdRestaurant })" class="btn btn-rounded-pill btn-primary" style="border-radius: 20px;">Voir</a>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="card" style="width: 18rem;">
                    <img src="~/@item.Photos.FirstOrDefault().Nom" class="card-img-top" alt="Photo Restaurant" style="max-height: 190px">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nom)</h5>
                        <p class="card-text font-italic my-0">@Html.DisplayFor(modelItem => item.TypeCuisine.Nom) ( Prix moyen @Html.DisplayFor(modelItem => item.Budget)€)</p>
                        <p class="card-text"><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i></p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        <a href="@Url.Action("Details", "Restaurants", new { id = item.IdRestaurant })" class="btn btn-rounded-pill btn-primary" style="border-radius: 20px;">Voir</a>
                    </div>
                </div>
            </div>
        }
        catch (Exception ex)
        {
            string error = ex.Message;
        }
    }
</div>


@section Scripts {
    <script src="~/Scripts/owl.carousel.min.js"></script>

    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/ju/dt-1.10.20/af-2.3.4/datatables.min.js">
        $(document).ready(function () {
            $('').DataTable();
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                items: 3,
                loop: true,
                nav: true,
                dots: false,
                autoplay: true,
                autoplayTimeout: 2000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    768: {
                        items: 2,
                        margin: 30
                    },
                    992: {
                        items: 3,
                        margin: 30
                    }
                },
                smartSpeed: 900,
                navText: ["<i class='fa fa-chevron-circle-left'></i>", "<i class='fa fa-chevron-circle-right'></i>"]
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            @*$("#recherche").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "@Url.Action("Recherche","Restaurants")",
                        type: "POST",
                        dataType: "json",
                        data: "{'searchString':'" + request.term+ "'}",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: items,
                                    value: items
                                }
                            }))
                        },
                         error: function (response) {
                            alert(response.responseText);
                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });*@

               $("#recherche").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "@Url.Action("Recherche","Restaurants")",
                        data: "{'prefixText':'" + $("#recherche").val() + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataFilter: function (data) { return data; },
                        success: function (data) {
                            response($.map(data.d, function (item) {
                                return {
                                    label: item,
                                    value: item
                                }
                            }))
                        }
                    });
                },
                minLength: 1
              });
        });
    </script>
}
