@model IEnumerable<AfpaLunch.Restaurant>

@{
    ViewBag.Title = "Index";
    List<Restaurant> restaurants = (List<Restaurant>)ViewBag.Restaurants;
    List<Restaurant> typerestaurant = (List<Restaurant>)ViewBag.TypeRestaurant;
}

<h2>Nos Restaurants</h2>

@using (Html.BeginForm())
{
    <div class="input-group mb-3">
        @Html.TextBox("searchString", null, htmlAttributes: new { @class = "form-control", placeholder = "Pizzeria ou Sandwich" })
        <div class="input-group-append">
            <input class="btn btn-primary" type="submit" value="Rechercher" />
        </div>
    </div>
}

<div class="row">
    @foreach (var item in Model)
    {
        try
        {
            <div class=" card mr-4 mb-4" style="width: 18rem;">
                <img src="~/@item.Photos.FirstOrDefault().Nom" class="card-img-top" alt="Photo Restaurant">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nom)</h5>
                    <p class="card-text font-italic my-0">@Html.DisplayFor(modelItem => item.TypeCuisine.Nom) ( Prix moyen @Html.DisplayFor(modelItem => item.Budget)€)</p>
                    <p class="card-text"><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i></p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <a href="@Url.Action("Details", "Restaurants", new { id = item.IdRestaurant })" class="btn btn-rounded-pill btn-primary" style="border-radius: 20px;">Voir</a>
                </div>
            </div>
        }
        catch (Exception ex)
        {
            string error = ex.Message;
        }
    }
</div>

<hr />

<div class="container">
    <div class="row">


        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    @foreach (var item in Model)
                    {
                        <li class="glide__slide"><img src="~/@item.Photos.FirstOrDefault().Nom" alt="Photo Restaurant"></li>
                    }
                </ul>
            </div>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
        </div>




    </div>
</div>





@section Scripts {

    <script src="https://cdn.jsdelivr.net/npm/&#64glidejs/glide">

    </script>

    <script>
        const config = {
            type: 'carousel',
            perView: 2
        }
        new Glide(".glide", config).mount({ Controls, Breakpoints });
    </script>
}
