@model IEnumerable<AfpaLunch.Restaurant>

@{
    ViewBag.Title = "Index";
    List<Restaurant> restaurants = (List<Restaurant>)ViewBag.Restaurants;
    List<Restaurant> typerestaurant = (List<Restaurant>)ViewBag.TypeRestaurant;
}

<h2>Nos Restaurants</h2>

<div class="row">
    @foreach (var item in Model)
    {
        try
        {
            <div class="card mr-4 mb-4" style="width: 18rem;">

                <img src="~/@item.Photos.FirstOrDefault().Nom" class="card-img-top" alt="Photo Restaurant">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nom)</h5>
                    <p class="card-text font-italic my-0">@Html.DisplayFor(modelItem => item.TypeCuisine.Nom) ( Prix moyen @Html.DisplayFor(modelItem => item.Budget)€)</p>
                    <p class="card-text"><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i><i class="fa fa-star" style="color: gold"></i></p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <a href="@Url.Action("Details", "Restaurants", new { id = item.IdRestaurant })" class="btn btn-primary">Voir</a>
                </div>
            </div>
        }
        catch (Exception ex)
        {
            string error = ex.Message;
        }
    }
</div>
