@model  AfpaLunch.Restaurant

@{
    ViewBag.Title = "Connexion Restaurateur";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <style>
        input {
            max-width: 280px;
        }
    </style>
    <div class="text-center">
        <div class="form-signin">
            <img class="mb-4" src="~/Images/logo.png" alt="logo" width="150">
            <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>

            <div class="d-flex justify-content-center">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { placeholder = "Login", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>

            <div class="d-flex justify-content-center">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "******" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="d-flex justify-content-center mb-4">
                <input type="submit" class="btn btn-lg btn-success btn-block" />
            </div>

            <p>OU</p>
            <div class="d-flex justify-content-center">
                <a class="btn btn-lg btn-block btn-success" href="@Url.Action("Create","Restaurants")" style="max-width: 280px;">Créez votre restaurant</a>
            </div>
        </div>

    </div>

}

@section Scripts {
    <script type="text/javascript">

    </script>
}